HeXing_Code/HXPP/CreateSAPVoucherSV/CreateSAPVoucherSV/Web References/CreateSAPVoucherSV/UFIDA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UFSoft.UBF.Util.Context" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UFSoft.UBF.Util.Context" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beyond-pc/U9/CustServices/UFIDA.U9.Cust.HXPPSV.CreateSAPVoucherSV.ICreateSV.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ApplicationContext">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="nameValueHas" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationContext" nillable="true" type="tns:ApplicationContext" />
  <xs:complexType name="PlatformContext">
    <xs:sequence>
      <xs:element name="ctx" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformContext" nillable="true" type="tns:PlatformContext" />
  <xs:complexType name="ThreadContext">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="nameValueHas" nillable="true" type="q2:ArrayOfKeyValueOfanyTypeanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThreadContext" nillable="true" type="tns:ThreadContext" />
</xs:schema>