HeXing_Code/HXPP/CreateSAPVoucherSV/CreateSAPVoucherSV/Web References/CreateSAPVoucherSV/UFIDA12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.UFIDA.org" elementFormDefault="qualified" targetNamespace="http://www.UFIDA.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beyond-pc/U9/CustServices/UFIDA.U9.Cust.HXPPSV.CreateSAPVoucherSV.ICreateSV.svc?xsd=xsd9" namespace="http://www.UFIDA.org/EntityData" />
  <xs:import schemaLocation="http://beyond-pc/U9/CustServices/UFIDA.U9.Cust.HXPPSV.CreateSAPVoucherSV.ICreateSV.svc?xsd=xsd1" namespace="UFSoft.UBF.Exceptions" />
  <xs:element name="Do">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q1="http://www.UFIDA.org/EntityData" minOccurs="0" name="sAPU9GLVoucherDTOS" nillable="true" type="q1:ArrayOfUFIDA.U9.Cust.HXPPSV.CreateSAPVoucherSV.SAPU9GLVoucherDTOData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.UFIDA.org/EntityData" minOccurs="0" name="DoResult" nillable="true" type="q2:ArrayOfUFIDA.U9.Cust.HXPPSV.CreateSAPVoucherSV.CommonResultDTOData" />
        <xs:element xmlns:q3="UFSoft.UBF.Exceptions" minOccurs="0" name="outMessages" nillable="true" type="q3:ArrayOfMessageBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>